@switch (content().message_type) { @case ("image") {
<div class="image-content">
	<img
		[src]="content().media_file_path"
		[title]="content().media_filename ?? 'image'"
		aria-label="image"
	/>
</div>
} @case ("video") {
<!-- <div class="video-content">
	<video [src]="content().media_file_path" controls></video>
</div> -->
<vg-player (onPlayerReady)="handlePlayerReady($event)">
	<video
		#videoEl
		[vgMedia]="$any(videoEl)"
		id="singleVideo"
		preload="metadata"
		controls
		[muted]="true"
		[autoplay]="false"
	>
		<source
			[src]="content().media_file_path"
			[type]="content().media_mime_type || 'video/mp4'"
		/>
	</video>

	<vg-overlay-play></vg-overlay-play>
	<vg-buffering></vg-buffering>

	<vg-controls>
		<vg-play-pause></vg-play-pause>
		<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
		<vg-scrub-bar>
			<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
		</vg-scrub-bar>
		<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
		<vg-volume></vg-volume>
		<vg-fullscreen></vg-fullscreen>
	</vg-controls>
</vg-player>
} @case ("audio") {
<vg-player (onPlayerReady)="handlePlayerReady($event)">
	<audio
		#audioEl
		[vgMedia]="$any(audioEl)"
		id="singleAudio"
		preload="metadata"
		playsinline
		controls
		[autoplay]="false"
	>
		<source
			[src]="content().media_file_path"
			[type]="content().media_mime_type || 'audio/mpeg'"
		/>
	</audio>

	<vg-buffering></vg-buffering>

	<vg-controls>
		<vg-play-pause></vg-play-pause>
		<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
		<vg-scrub-bar>
			<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
		</vg-scrub-bar>
		<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
		<vg-volume></vg-volume>
	</vg-controls>
</vg-player>
}} @if (content().content !== undefined) {
<div class="text-content">
	<p>{{ content().content }}</p>
</div>

}
