/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

/* Assicura il 100% verticale */
html, body {
  height: 100%;
  margin: 0;
}
app-root {
  display: contents; /* opzionale, oppure lascia */
}
